body{
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif; 
    margin: 0;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.87); 
    margin-left: 50px;
    margin-right: 50px;
}

.section1{
    text-align: center;
    flex-direction: column;
    background-color:#d8e8e3;
    color:rgba(0, 0, 0, 0.87);
    justify-content: center;
}

.fast1{
    padding: 45px;
    margin: 0 auto;
    width: 60%;
    display: flex;
    margin-bottom: 40px;



}




.section2{
    display: flex;
    margin: 0 auto;
    

}
.fast2{
    text-align: center;
    margin: 0 auto;
    background-color:#d8e8e3; 
    padding:8%;
    justify-content: center;
    width: 50%;
    
    
    

}

.Join{
    padding: 7px 16px;
    border: black solid 1px;
    border-radius: 50px;
    text-decoration: none;
    color: #1e3932;
    font-weight: 600;
}
.button{
    margin-top: 50px
}


